<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color-dark">
  <a class="navbar-brand" href="javascript:;;">Bodega</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link waves-effect waves-light" href="javascript:;;">
                  <i class="fa fa-th"></i>
              </a>
          </li>
          <li class="nav-item" >
              <a (click) = "verDetallePedidos()" class="nav-link waves-effect waves-light" href="javascript:;;" >
                  <i class="fa fa-shopping-cart"></i><span class="badge badge-error">{{mpListaPedidos()}}</span></a>
          </li>
         
          <li class="nav-item" >
                <a (click) = "logOut()" class="nav-link waves-effect waves-light" href="javascript:;;" >
                    <i class="fa fa-sign-out"></i></a>
          </li>
      </ul>
  </div>
</nav>