<div *ngFor="let item of this.mpGetListarPedidos()" class="col-lg-12 col-md-12">
    <div class="row">
        <div class="col-lg-4">
            <img src="{{item.ImagenUrl}}" alt="imageaaan" class="img-thumbnail">
        </div>
        <div class="col-lg-8">
            <h4 class="mb-4">
                <strong>{{ item.NombreProducto }}</strong>
            </h4>
            <p class="mb-4">Precio: {{ item.Precio }}</p>
            <p class="mb-4">Cantidad : {{ item.Unidades }}</p>
        </div>
    </div>
    <hr>
</div>

<section id="dynamicContentWrapper-docsPanel" class="mb-5">
    <div class="card text-center mb-4">
        <div class="card-body">
            <p>
                <strong>Total a Pagar:{{lImporteTotalGeneral}}</strong>
            </p>
            <form class="form-inline pl-auto d-flex justify-content-center">
                <div class="md-form form-group">
                    <button (click) = "pagarPedido()" class="btn btn-primary" id="docs-newsletter-approved" data-bf-newsletter="submit">Pagar
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </button>
                    <a [routerLink]="['/principal']"  class="btn btn-outline-primary" id="docs-newsletter-removed">Volver
                        <i class="fa fa-mail-reply" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</section>